.profile-full {
    display: grid;
    justify-content: space-evenly;
}
.profile-full-photos {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    
    
    
    box-shadow: 0 4px 8px 0 rgba(24, 5, 5, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.profile-full-photos img{

    margin: 10px;
 
}

.profile-full-photos img:hover{
    max-width: 50vmin;
  }

.body{
    background: white;
    

}