.home-top-image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 450px;
    background: url('../../images/man-people-girl-woman-glove-photography-997731-pxhere.com.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    
    
}

.home-middle-image {
    display: flex;

    height: 500px;
    background: url('../../images/affection-black-black-and-white-couple-dark-embrace-1550523-pxhere.com.jpg');
    background-attachment: fixed ;
    background-size: cover ;
    background-position: center ;
}

.home-bottom-image {
    display: flex;

    height: 600px;
    background: url('../../images/people-old-monument-statue-love-portrait-1070265-pxhere.com.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center  ;
    
}


.home-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: white;
    background-attachment: fixed;
    background-size: cover;
    
}
.home-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background:white;
    background-attachment: fixed;
    background-size: cover;
    
}
.home-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: rgba(red, rgba(0, 128, 0, 0), blue, alpha);
    background-attachment: fixed;
    background-size: cover;
    
}

