@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html *{
  font-family: 'Open Sans', sans-serif;
  
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  position: fixed;
  width:100%;
  display: grid;
  background-color: #09d3ac;



}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.NavBar  * {
  display: flex;
  justify-content: space-evenly;
}

.NavBar ul {
  display: flex;
  justify-content: space-evenly;
}

.App-link {
  color: #09d3ac;
}


img {
  max-width: 10vmin ;
}



.body {
  
  min-height: 1000px;
  margin-top:90px;
  
}

.NavBar a {
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
}