@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html *{
  font-family: 'Open Sans', sans-serif;
  
}


.weavy-widget {
  width: 100%;
  height: calc(100% - 40px);
  font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
}


.widget-drawer {
  z-index: 1042;
  position: fixed;
  top: 73px;
  
  background: white;
  transition: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  width: 400px;
  height: calc(100% - 68px);
  transform: translateX(400px);
  pointer-events: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

  .widget-drawer.widget-drawer-in {
      transform: none;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
  }

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  position: fixed;
  width:100%;
  display: grid;
  background-color: #09d3ac;



}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.NavBar  * {
  display: flex;
  justify-content: space-evenly;
}

.NavBar ul {
  display: flex;
  justify-content: space-evenly;
}

.App-link {
  color: #09d3ac;
}


img {
  max-width: 10vmin ;
}



.body {
  
  min-height: 1000px;
  margin-top:90px;
  
}

.NavBar a {
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
}