.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: grid;
  background-color: #09d3ac;


}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NavBar  * {
  display: flex;
  justify-content: space-evenly;
}

.NavBar ul {
  display: flex;
  justify-content: space-evenly;
}

.App-link {
  color: #09d3ac;
}




.body {
  background: red;
  min-height: 1000px;
}